body {
    background: url("C:\Users\Lenovo\Downloads\background.jpg") no-repeat center center/cover;
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    /* height: 100%; */
}
